/* Selección a través de etiquetas */
h1{
    color:rgb(105, 53, 63);
}

/* Selección a través de clases (.) */
.rojo{
    color:red;
}

/* Selección a través de ID (#)*/
#amarillo{
    color:yellow; 
}
/* ---sitio ejemplo--- */
h1{
    color:royalblue; /* Color: color de texto */
}

p{
    text-align: right;
}
/* text-align: disposición de texto - izquierda - centrado - derecha */

.is-centered {
   text-align: center;
}


.is-orange {
   color: darkorange;
}

#container {
   width: 200px; /* Ancho */
   height: 200px;/* Altura */
   padding: 10px;/* Espacio Interno */
}

#avatar {
   width: 150px;
   height: 150px;
   border-radius: 50%; /* Agraga al elemento esquinas redondeadas */
   margin-top: 20px; /* Margen superior (Espacio Externo) */
   margin-left: 25px;/* Margen izquierdo */
}